body {
	padding: 0px;
	margin: 0px;
	font-size: 12.5px;
	font-family: 'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#nav-notifications-menu {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#nav-notifications-menu li {
	list-style: none outside none;
	border-bottom: 1px solid rgb(240, 240, 240);
}

.notify-seen {
	background-color: rgb(221,221,221);
}

#nav-notifications-menu a {
	text-decoration: none;
	color: rgb(45,45,45);
	display: block;
	padding: 5px 10px;
}

#nav-notifications-menu img {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 5px;
}

#nav-notifications-menu .notif-when {
	font-size: 10px;
	color: rgb(158, 171, 176);
	display: block;
	margin-left: 21px;
}

#nav-notifications-menu .text {
	display: block;
	margin-left: 21px;
}
